.headerContainer {
  height: 6rem;
  background-color: #141a29;
  @media (max-width: 720px) {
    height: auto;
  }
}

.divMobile {
  max-width: 70rem;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
  }

  .imgButton {
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      width: 100%;
    }

    button {
      display: none;

      @media (max-width: 768px) {
        display: flex;
      }
    }
  }

  nav {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
  }

  .panel {
    max-height: 0;
    visibility: hidden;
    transition: max-height 0.5s;
  }

  .panelVisible {
    color: white;
    display: inline-block;
    position: relative;

    @media (max-width: 768px) {
      max-height: auto;
      & + .panelVisible {
        margin-top: 1rem;
      }
    }
  }
}
