.doanteContainer {
	position: absolute;
	bottom: 70px;
	right: 50px;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  filter: drop-shadow(2px 1px 5px rgba(0, 0, 0, 0.5));
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.2);
  }

	@media (max-width: 768px) {
		bottom: 5px;
		right: 10px;
	}

	span {
		padding: 0.4rem;
		border-radius: 50%;
		margin-bottom: -0.5rem;
    cursor: pointer;
	}

	button {
		border: none;
		background-color: #ffb800;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		font-size: 1.3rem;

		@media (max-width: 768px) {
			width: 4rem;
			height: 4rem;
			font-size: 1rem;
		}


	}
}
